mfck and unicode

Hi.
The mbox file contains a string
organization: Offenes Netz Lübeck

mfck -cs file.mbox
%Message #119 {@2032346}: Illegal character '\303' in header:
 "organization: Offenes Netz L\303\274be"...

Is that how it should be?

Thanks.

Yes, this warning is intentional when running mfck in strict mode (-s). The Internet email message standard RFC 5322 prohibits raw non-ASCII characters in headers and requires them to be MIME encoded using RFC 2047. There is an extension that relaxes this requirement (RFC 6532), but it has not been universally adopted and the safe choice is to still follow RFC 5322.