MacOS Sequoia 15.5 compilation issue with readline (easy fix), plus suggestions.

Hi, 
I was test driving your software on a current macOS box with Xcode dev tools and received a single error that needed to be fixed in order to fully compile your code. The complaint was basically that no matter what I tried it was assigning incompatible pointer types and so I couldn't assigned the function you would created to the readline stub. Even though according to the documentation your prototype was correct. According to other documentation I found the below trick is what you do to overcome this.

original:
mfck.c: 5374:  
`rl_completion_entry_function = CompleteCommand;`

needs to be:
` rl_completion_entry_function = (Function *)CompleteCommand;`


Also if I might make two suggestions:

1. I can't figure out how to get out of interactive mode when looking at a message, I have to page through it until I finally get the @.  Is there a way to get out of it and back to the command prompt for the attractive mode?

2. I was dealing with a large MBOX for a newsgroup so I would prefer to just be able to delete messages that can't be repaired. Or the very least just delete the problem with them. For example if you have a character that's illegal, can I just delete the character and move on with life? When you have tens of thousands of messages to look at the details sort of don't matter. Anything that could just trim it down to make it strictly 100% consistent would be very much appreciated.

Thanks!

`Apple clang version 17.0.0 (clang-1700.0.13.5)
Target: arm64-apple-darwin24.5.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin
package-id: com.apple.pkg.CLTools_Executables
version: 16.4.0.0.1.1747106510`

Thanks for the bug report. I was using GNU's readline, which got this right, but macOS's readline headers incorrectly declares `rl_completion_entry_function` to return an `int` when it really should be returning a `char *`.

Fixed as suggested by casting mailcheck's completion function to `Function *`, but only when _not_ compiling against GNU's readline.

Regarding your other questions:

1. mfck will use your preferred `$PAGER` when viewing messages, or `more` if you don't have one defined in your environment. If you're using `more`, press `q` to quit the viewer.
2. I'm not sure what you mean by the character being illegal. Are you referring to a syntax error in a header or a character in the body that it outside of its expected byte range? Is this something currently detected by mailcheck, but left as unrepairable? If you can send me an example test message, I'll see what I can do with it.

Thanks!

Yo,
I'll do you one better: https://archive.org/download/usenet-comp

I was using your utility to figure out any inconsistencies in these archives.  However I was specifically only targeting the comp.sys.sgi.*  archives.  I didn't make these archives and I have no way of really recreating them so I'm dealing with what I can get.

I'm specifically dealing with file: [comp.sys.sgi.hardware.mbox.zip]
(https://archive.org/download/usenet-comp/comp.sys.sgi.hardware.mbox.zip)


1. On macOS pressing "q" didn't do anything. When you're looking through a email body the prompt is ":".  When that shows there's nothing I seem to be able to press even if I try it like in a man page to use the / or \ characters to try to form a command it doesn't work. I'm essentially trapped with only being able to press the spacebar to go a whole page at a time until I'm finally done reading it and I'm back to a prompt that looks like @:

2. You literally have an error that says illegal character: 
`%Message #6622 {@15621652}: Illegal character '\357' in header:
 "From: \"S\357\277\275bastien LE COCGUEN\" <"...
%Message #6627 {@15632639}: Illegal character '\357' in header:
 "From: \"S\357\277\275bastien LE COCGUEN\" <"...
%Message #6629 {@15636927}: Illegal character '\357' in header:
 "From: \"S\357\277\275bastien LE COCGUEN\" <"...
%Message #15 {@35361}: Invalid Date: "Thursday, 21 May 09 3:30:28 GMT", cannot repair
%Message #684 {@2005331}: Illegal character '\357' in header:
 "Subject: Octane dual R12000 \357\277\2753"...
%Message #1889 {@4619748}: Illegal character '\357' in header:
 "X-Trace: idmkcnjgmiagocdecamaaai"...
%Message #3939 {@9414357}: Illegal character '\357' in header:
 "X-Trace: npbhgpngjbkmjfegdbdpifl"...
%Message #4048 {@9662057}: Illegal character '\002' in header:
 "X-Trace: bhmkggakljkaanefdbdpifl"...
%Message #4138 {@9851887}: Illegal character '\357' in header:
 "From: \"Davor Mata\357\277\275i\357\277\275\" <davor"...
`

My assumption on these is that you don't read UTF-8 properly and so it's catching the accent character on this particular person's name? But you can let me know if that's not correct. Honestly this is for my own usage so I don't really care about people's names much, more of the content. But it seems like this occurs a lot with the same individual that's why I assume it's a UTF being interpreted as ASCII issue.

So anytime you say I have an illegal something or that the date doesn't make any sense I prefer you offer the ability to just plug the hole with some valid holder. I did see you make corrections with a dummy email address on the from and to, which was really cool, can you do dummy placeholder stuff on the other parts of the header that you don't believe makes sense?


Just go ahead and download this newsnet archive and you'll see all the same stuff I'm seeing. That way you have plenty to work with and perhaps improve the logic in your verification functions.


Thanks!

Thank you for the example, it was very helpful.

The comp.sys.sgi.hardware.mbox seems to use non-standard `From ` (From+space) lines separating the messages that I haven't seen before. Instead of listing the envelope sender and the date the message was received, they just contain a large (64-bit?) integer which `mfck` wasn't prepared to handle. I don't know where this format comes from nor how common it is, but I've added code to handle it and repair it, i.e. add a date to the `From ` line that should make it readable to other mail programs.

I also fixed a few other bugs that I happened to notice. Please try updating your code and see how it looks to you.

Sorry, I don't know why you aren't able to quit when viewing a message. I'm on macOS too and I can't reproduce the problem that you're having. As I metioned, `mfck` doesn't itself interact with you when showing messages, it just runs `$PAGER` or `more` if the environment variable `PAGER` is undefined. You can change this to whatever you like by setting `PAGER` before running `mfck`, e.g. `PAGER=cat mfck -i comp.sys.sgi.hardware.mbox` or `export PAGER=cat` and `mfck -i comp.sys.sgi.hardware.mbox` if you're using a Bourne shell.

The illegal character warning that you're seeing is only there to make you aware that a header contains non-ASCII chararacters and is only shown when strict checking is turned on. As per RFC 5322, (raw) headers may only contain ASCII characters and any non-ASCII character has to be encoded using RFC 2047. While the later RFC 6532 relaxes this and allows for UTF-8 encoded content in the headers, it's not widely adopted. Either way, non-ASCII characters in the headers most likely won't stop you from reading the message, it'll just look a bit funny.